<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sentence Analysis</title>
</head>

<body>
  <table>
    <thead>
      <tr>
        <th>Method</th>
        <th>URL</th>
        <th>description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>GET</td>
        <td>/version</td>
        <td>Get api version</td>
      </tr>
      <tr>
        <td>GET</td>
        <td>/sentence</td>
        <td>Sentence analysis help</td>
      </tr>
      <tr>
        <td>GET</td>
        <td>/sentence/[string]</td>
        <td>get Sentence analysis data</td>
      </tr>
    </tbody>
  </table>
</body>

</html>